GROQ_API_KEY=
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
SUPABASE_URL=
# You may use NEXT_PUBLIC_SUPABASE_URL instead of SUPABASE_URL if this is already set for Next.js.
SUPABASE_SERVICE_KEY=
